{% extends "base.html" %}

{% block content %}
<div class="box">
  <div class="content is-large"><h2>Dennenhof stembus</h2></div>
</div>

<div class="box">
  <div class="content is-large">
    <p style="text-align: left;">De stemming is afgelopen, bedankt aan iedereen die van zich liet horen.</p>
      
      <p style="text-align: left;">Er brachten in totaal 25 huishoudens hun stem uit ! Klik op de link hieronder om de resultaten te bekijken</p>
    </p>
  </div>
  <br /><br />
  <div class="content is-large">
    <a class="button is-warning is-large" href="results">Naar de resultaten...</a>
  </div>    
</div>

{% endblock %}
