{% extends "base.html" %}

{% block content %}
<div class="box">
  <div class="content is-large"><h2>Dennenhof stembus</h2></div>
</div>

<div class="box">
  <div class="content is-large">
    <p style="text-align: left;">Welkom op het stemformulier voor de inrichting van ons pleintje. 
      Om je stem uit te brengen heb je de geheime code nodig die je in de brievenbus vond. Per 
      huishouden is 1 code voorzien.</p>
      
      <p style="text-align: left;">Alvast bedankt om van je te laten horen !</p>
    </p>
  </div>
  <br /><br />
  <div class="content is-large">
    <a class="button is-warning is-large" href="login">Naar de stemming...</a>
  </div>    
</div>

<div class="box">
  <div class="content is-large">
    <p style="text-align: left;">Hier zie je hoeveel stemmen reeds geregistreerd zijn :</p></div>
  <progress class="progress is-info is-large" value="{{stats.n_votes}}" max="{{stats.n_users}}"></progress>
</div>
{% endblock %}
