{% extends "base.html" %}

{% block content %}

<div class="box">
  <div class="content is-large">
    <p style="text-align: left;">Poll inrichting pleintje</p>
  </div>
  <div class="content">
    <p style="text-align: left;">Hier kan je aangeven hoe belangrijk je de functie of het inrichtings element vindt voor ons pleintje
      door overal een score van 0 (niet belangrijk voor ons) tot 5 (heel graag) toe te kennen. De keuzemogelijkheden weerspiegelen de lijst van 42 ideeën die jullie in de 
      online ideeënbox hebben gedropt. Per woning (brievenbus) is 1 stem voorzien. </p>

    <p style="text-align: left;">Een eerste deel polst naar de functie die het pleintje voor jou dient te vervullen. Een tweede
      stuk gaat over welke inrichtings elementen je graag zou zien op het plein.</p>
  
    <p style="text-align: left;"><b>Door onderaan op "Bewaren" te klikken kan je je keuzes op slaan om er later nog eens op terug te komen. 
      Als je op "Stemmen" klikt, dan registreer je je stem definitief en kan je die niet meer wijzigen.</b></p>
    </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-warning">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
</div>

<form method="POST" action="/poll">     
  {{ form.csrf_token }}  
  <div class="box">
    <div class="content is-large">
      <p style="text-align: left;">Functies</p>
    </div>
    <div class="content">
      <p style="text-align: left;">Geef hier aan welke prioriteit je aan verschillende functies voor het plein toekent, gaande
        van 0 : <em>over my dead body !</em>, tot 5 : <em>oh yes please !</em>
      </p>
    </div>  
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth is-size-7 is-narrow">
        <thead>
          <tr><th align="left">Functie</th>
            {% for subfield in form.functions[0].rating %}
              <th>{{ subfield.label }}</th>
            {% endfor %}          
        </tr></thead>
        {% for q in form.functions %}   
          <tr>
            <td align="left">{{ titles_functions[loop.index0] }}</td>
            {% for subfield in q.form.rating %}
              <td>{{ subfield }}</td>
            {% endfor %}          
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <div class="box">
    <div class="content is-large">
      <p style="text-align: left;">Inrichtings elementen</p>
    </div>
    <div class="content">
      <p style="text-align: left;">Geef hier aan welke prioriteit je aan verschillende inrichtings elementen voor het 
         pleintje toekent, gaande van 0 : <em>not in my lifetime !</em>, tot 5 : <em>Duh !</em></p>
    </div>  
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth is-size-7 is-narrow">
      <thead>
        <tr><th align="left">Element</th>
          {% for subfield in form.elements[0].rating %}
            <th>{{ subfield.label }}</th>
          {% endfor %}          
       </tr></thead>
       {% for q in form.elements %}   
        <tr>
          <td align="left">{{ titles_elements[loop.index0] }}</td>
          {% for subfield in q.form.rating %}
            <td>{{ subfield }}</td>
          {% endfor %}          
        </tr>
       {% endfor %}
    </table>
    </div>
</div>

<div class="box">
  <div class="buttons has-addons is-right">    
    {{ form.save(class_="button is-info is-outlined")}}
    {{ form.submit(class_="button is-danger is-outlined")}}
  </div>
  </div>
</div>
</form>
</div>

{% endblock %}
